[Unit]
Description=Regenerate the Nvidia Container Toolkit CDI specification
Wants=kmod-static-nodes.service ostree-remount.service
After=kmod-static-nodes.service ostree-remount.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nvidia-ctk cdi generate --output /etc/cdi/nvidia
